* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    width: 100%;
    height: calc(100%/7);
    display: flex;
    flex-direction: column;
}

.box {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.one {
    background-color: purple;
}

.two {
    background-color: rosybrown;
}

.three {
    background-color: rebeccapurple;
}

.four {
    background-color: green;
}

.five {
    background-color: yellow;
}

.six {
    background-color: orange;
}

.seven {
    background-color: red;
}

@media screen and (min-width: 601px){

    .container {
        flex-wrap: wrap;
        flex-direction: row;
        height: calc(100%/5);
    }

    .one,
    .two,
    .six,
    .seven {
        width: 100%;;
    }

    .three,
    .four,
    .five {
        width: 33.3%;
    }
}



@media screen and (min-width: 801px){

    .container {
        height: calc(100%/3);
    }

    .box {
        width: 100%;
    }

    .one,
    .two,
    .six,
    .seven {
        width: 50%;
    }

    .three,
    .four,
    .five {
        width: 33.3%;
    }

}


